<h1>Formulario</h1>
<form action="/productos" method="POST">
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" id="title" name="title" placeholder="Nombre del producto">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="price" name="price" placeholder="Precio del producto">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="Foto del producto">
        </div>
        <div class="col">
            <button type="submit" value="Enviar" class="btn btn-outline-dark"> Enviar </button>
        </div>
    </div>
</form>