<h2>Productos</h2>

<% if (productos.length > 0) { %>
<div class="table-responsive">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Foto</th>
            </tr>
            <tr>
                <% for (let i = 0; i < productos.length; i++) { %>
                <td><%= productos[i].title %></td>
                <td><%= productos[i].price %></td>
                <td><img src="<%= productos[i].thumbnail %>" alt='${producto.nombre}' width="100px"></td>
            </tr>
            <% } %>
        </thead>
    </table>
</div>
<% } else { %>
<div class="alert alert-warning" role="alert">
    No hay productos cargados
</div>
<% } %>

